APP_NAME="Stage Right Labs"
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://stagerightlabs.test

LOG_CHANNEL=

DB_CONNECTION=sqlite

BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

HONEYBADGER_VERIFY_SSL=
