@tailwind preflight;
@tailwind components;

@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");

body {
  background-image: url("./images/halftone.png");
  @apply .font-sans;
}

a {
  text-decoration: none;
  @apply .text-red;
}

p {
  @apply .leading-loose;
}

.blog-post p {
  @apply .mb-4;
}

.blog-post code {
  @apply .rounded .px-1 .bg-white;
}

/* .blog-post pre {
  @apply .bg-white .font-mono .p-1 .mb-4;
} */

/* .blog-post pre code {
  background-color: inherit;
  padding: inherit;
  border-radius: inherit;
} */

/* .blog-post .content {
  @apply .mx-8;
} */

@tailwind utilities;
