// src/assets/scss/app.scss

@tailwind preflight;

#app {
  @apply .text-center .text-grey-darker .mt-8;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@tailwind utilities;
